<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.afiab.scaffolding.dao.mapper.dim.StuuMapper">
    <!-- 基本resultMap -->
    <resultMap type="com.afiab.scaffolding.dao.entity.StuuPO" id="StuuPO">

    </resultMap>

</mapper>